body .common-class .layui-layer-title{background:#36c6d3; color:#fff; border: none;}
body .common-class .layui-layer-btn{border-top:1px solid #E9E7E7}
body .common-class .layui-layer-btn a{background: #36c6d3;}
body .common-class .layui-layer-btn .layui-layer-btn1{background: #36c6d3;}
body .common-class .layui-layer-btn .layui-layer-btn0{border: none;}